.ProfileImage {
    height: 5em;
    margin: 1em;
    border-radius: 50%;
    box-shadow: 0 0 2px 0
}

.App {
    min-height: 100vh;
    position: relative;
}

.Header {
    width: 100%;
    background-color: #282c34;
    color: white;
}
.HeaderContent{
    margin: auto;
    max-width: 80em;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.MainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    max-width: 75em;
    margin: auto;

    /* Leave room for the footer height */
    padding-bottom: 3.5em;
}


.Main{
    max-width: 55em;
}


.Sidebar {
    max-width: 55em;
    flex-grow: 1;
    margin-bottom: -1em;
}
.Sidebar .Section > div {
    margin-top: 0.2em;
}
.Sidebar i.fas {
    margin-right: 1em;
}


.Section {
    background-color: white;
    padding: 1em;
    margin: 1em;
}


.Footer {
    position: absolute;
    bottom: 0;
    /* Make sure that .MainContainer has enough padding for this height */
    height: 3.5em; 
    width: 100%;
    background-color: #282c34;
    color: white;
}
.Footer > div{
    padding: 0.5em;
    margin: auto;
    max-width: 75em;
}



.Link{
    color: #43ABC9;
}
.Link > i.fas{
    margin-left: 0.5em;
}
